/* 1 */
/* :root {
    --primary-color: yellow;
}

@keyframes blur {
    from {
        box-shadow: 0px 0px 130px 40px var(--primary-color);
    }

    to {
        box-shadow: 0px 0px 10px 20px var(--primary-color);
    }
}

body {
    background-color: black;
} */

/* .ball {
    background-color: var(--primary-color);
    height: 150px;
    width: 150px;
    margin: 10%;
    border-radius: 50%;

    animation-name: blur;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
} */


/* 2 */
/* .ball {
    background-color: var(--primary-color);
    height: 150px;
    width: 150px;
    margin: 10%;
    border-radius: 50%;
    transition: box-shadow 2s;
}

.ball:hover {
    box-shadow: 0px 0px 60px 50px var(--primary-color)
} */

/* 3 */
:root {
    --main-color: #F7D794;
}

@keyframes spread {
    from {}

    to {}
}

.navBar {
    background-color: rgb(240, 81, 107);
    height: 10vh;
    width: 100vw;
}

i {
    color: var(--main-color);
    margin: 2%;
    padding: 5px;
    font-size: 200%;
    cursor: pointer;
}

.sideBar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--main-color);
    font-family: Tahoma;
    font-size: 40px;
    width: 0vw;
    height: 80vh;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
    transition: width 1s;
}
